<link rel="stylesheet" href="./app/photos/css/photos.css">

<h3>Фото:</h2>

<form name="photosForm" ng-submit="savePhoto()">
    <div class="container-fluid">
        <h4>{{ !isEdit ? 'Добавити' : 'Редагувати' }} фото:</h4>
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5">
                <div class="input-group form-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-text-size" aria-hidden="true"></span>
                    </span>

                    <input type="text" class="form-control" placeholder="Заголовок" ng-model="currentPhoto.title">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="input-group form-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                    </span>

                    <input type="text" class="form-control" placeholder="Мініатюра https://" ng-model="currentPhoto.urlSmall" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="input-group form-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                    </span>

                    <input type="text" class="form-control" placeholder="Зображення https://" ng-model="currentPhoto.urlLarge" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Зберегти" ng-disabled="photosForm.$pristine">
                    <input type="button" class="btn btn-warning" value="{{ isEdit ? 'Добавити' : 'Очистити' }}" ng-click="clear()">
                    <input type="button" class="btn btn-danger" value="Видалити" ng-click="deletePhoto(photo)" ng-if="isEdit">
                </div>
            </div>
        </div>
    </div>
</form>

<div class="space"></div>

<div class="container-fluid photos-container" ng-if="photos.length">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4" ng-repeat="photo in photos">
            <img class="img-fluid" ng-src="{{ photo.urlSmall }}" alt="">                        
            <span class="img-centered glyphicon glyphicon-pencil" ng-click="editPhoto(photo)"></span>  
        </div>
    </div>
</div>