<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Адмін Панель - Keep Balance</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
</head>
<body ng-app="keepBalanceApp">
    
    <!-- Angular -->
    <script src="./js/angular.min.js"></script>

    <!-- Angular Animate -->
    <script src="./js/angular-animate.min.js"></script>

    <!-- Firebase -->
    <script src="./js/firebase.js"></script>

    <!-- AngularFire -->
    <script src="./js/angularfire.min.js"></script>

    <!-- Application Module -->
    <script src="./js/app.module.js"></script>

    <!-- Orders Controller -->
    <script src="./js/orders.controller.js"></script>

    <div class="navigation">
        <i class="glyphicon glyphicon-menu-hamburger menu-hamburger" ng-click="changeMobileMenu()"></i>
        <!-- <ul ng-hide="!showMobileMenu"> -->
        <ul ng-class="!showMobileMenu ? 'hide-mobile-menu' : ''">
            <li><a href="">Lorem</a></li>
            <li><a href="">Lorem</a></li>
            <li><a href="">Lorem</a></li>
            <li><a href="">Lorem</a></li>
            <li><a href="">Lorem</a></li>
            <li><a href="">Lorem</a></li>
            <li><a href="">Lorem</a></li>
            <li><a href="">Lorem</a></li>
        </ul>
    </div>

    <content ng-controller="OrdersCtrl">  
        <div class="container main-block">
            <h3>Замовлення:</h2>
                
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ім'я</th>
                        <th>Прізвище</th>
                        <th>Телефон</th>
                        <th><i class="glyphicon glyphicon-tint"></i></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(index, order) in orders | orderBy: index: true" ng-class="!order.accepted ? 'unaccepted' : ''">
                        <td>{{ order.firstName }}</td>
                        <td>{{ order.lastName }}</td>
                        <td>{{ order.phone }}</td>
                        <td>{{ order.count ? order.count : 1 }}</td>
                        <td>
                            <i class="glyphicon glyphicon-unchecked" ng-if="!order.accepted" ng-click="acceptOrder(order)" title="Прийняти"></i>
                            <i class="glyphicon glyphicon-check" ng-if="order.accepted"></i>
                        </td>
                        <td><i class="glyphicon glyphicon-remove remove" ng-click="removeOrder(order)" title="Видалити"></i></td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </content>
</body>
</html>