<link rel="stylesheet" href="./app/info-ua/css/info.ua.css">

<h3>Інформація(укр) сайту</h3>
<form ng-submit="saveHead()" name="headForm">
    <div class="form-group">
        <label for="headTitle">Заголовок шапки:</label>
        <input type="text" class="form-control" ng-model="info.headTitle" id="headTitle" />
    </div>
    <div class="form-group">
        <label for="headDesc">Опис шапки:</label>
        <textarea class="form-control" ng-model="info.headDesc" id="headDesc" rows="5"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" ng-disabled="headForm.$pristine" value="Зберегти" />
    </div>
</form>

<form ng-submit="saveAbout()" name="aboutForm">
    <div class="form-group">
        <label for="aboutTitle">Заголовок загальної інформації:</label>
        <input type="text" class="form-control" ng-model="info.aboutTitle" id="aboutTitle" />
    </div>
    <div class="form-group">
        <label for="aboutDesc">Опис загальної інформації:</label>
        <textarea class="form-control" ng-model="info.aboutDesc" id="aboutDesc" rows="5"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" ng-disabled="aboutForm.$pristine" value="Зберегти" />
    </div>
</form>

<form ng-submit="saveContact()" name="contactForm">
    <div class="form-group">
        <label for="contactTitle">Заголовок контактів:</label>
        <input type="text" class="form-control" ng-model="info.contactTitle" id="contactTitle" />
    </div>
    <div class="form-group">
        <label for="contactDesc">Опис контактів:</label>
        <textarea class="form-control" ng-model="info.contactDesc" id="contactDesc" rows="5"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" ng-disabled="contactForm.$pristine" value="Зберегти" />
    </div>
</form>