.remove {
    cursor: pointer;
}

th, td {
    width: 40%;  
}

th:nth-last-child(4), td:nth-last-child(4) {
    width: 8%;
    text-align: center;
}

th:nth-last-child(-n+3), td:nth-last-child(-n+3) {
    width: 4%;
    text-align: center;
}

th:nth-last-child(1), td:nth-last-child(1) {
    color: #fd0000;
}

tr.unaccepted > td {
    background-color: #ffe8e8;
}

table {
    background-color: #ffffff;
}

.glyphicon-unchecked {
    color: #ababab;
    cursor: pointer;
}

.glyphicon-check {
    color: #008804;
}